﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.NuevoAsesorConocimientoModel
@{
    ViewBag.Title = "Borrar";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Borrar conocimiento </h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDAsesor)
                @Html.HiddenFor(model => model.IDConocimiento)
                <div class="box-body">
                    <p>
                        ¿Está seguro que desea borrar "@Model.NombreConocimiento"?
                    </p>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <a href="/Instructores/Asesor/@Model.IDAsesor" class="btn btn-primary">Cancelar</a>
                </div>
            }

        </div>
        <!-- /.box -->
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

