﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.NuevaUnidadSolicitudModel

@{
    ViewBag.Title = "New";
}

    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Nueva Solicitud para la unidad @Model.RazonSocialUnidad</h3>
                    <label class="text-danger">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("LinkSolicitud", "Unidades", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })  
                    @Html.HiddenFor(model=>model.IDUnidad)

                    <div class="box-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Solicitudes, htmlAttributes: new { @class = "control-label col-md-2" })
                            <select name="IDSolicitud" class="form-control col-md-2">
                                @foreach (var solicitud in Model.Solicitudes)
                                {
                                    <option value="@solicitud.ID">@solicitud.ID - @solicitud.Titulo</option>
                                }
                            </select>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="~/Unidades/Solicitudes/@Model.IDUnidad" class="btn btn-primary">Cancelar</a>
                    </div>
                }

            </div>
            <!-- /.box -->
        </div>

    </div>

@section Scripts {
  <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
  <script>
      $(document).ready(function () {
          $('#myForm').validator()
      });
     
  </script>

}
