﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.NuevoEquipoProgramadorModel

@{
    ViewBag.Title = "New";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nuevo Programador para @Model.NombreEquipo</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("NewProgramador", "Equipos", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdEquipo)
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Programadores, htmlAttributes: new { @class = "control-label col-md-2" })
                        <select name="IdProgramador" class="form-control col-md-2">
                            @foreach (var programador in Model.Programadores)
                            {
                                if (programador.Disponibilidad.ToString() == "FullTime" || programador.Disponibilidad.ToString() == "PartTime")
                                {
                                    <option value="@programador.ID">@programador.ID/@programador.Nombre / @programador.Rol / @programador.Disponibilidad</option>
                                }

                            }
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="~/Equipos/Index" class="btn btn-danger">Cancelar</a>
                </div>
            }

        </div>
        <!-- /.box -->
    </div>

</div>

@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
      $(document).ready(function () {
          $('#myForm').validator()
      });

    </script>

}
