﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.ProgramadoresIndexModel

@{

}

<div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.Titulo</h3>
                </div>
                <div class="box-header with-border">
                    <label class="text-success">@TempData["success"]</label>
                    <label class="text-success">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Legajo</th>
                                <th>Rol</th>
                                <th>Disponibilidad</th>
                                <th>Conocimiento</th>
                                <th>Acciones</th>
                            </tr>
                            @foreach (var programador in Model.Programadores)
                            {
                        <tr>
                            <td>@programador.ID</td>
                            <td>@programador.Nombre</td>
                            <td>@programador.Apellido</td>
                            <td>@programador.Legajo</td>
                            <td>@programador.Rol</td>
                            <td>@programador.Disponibilidad</td>
                            <td>
                                <a href="/Programadores/Skills/@programador.ID" title="Listado de Conocimientos" type="button" class="btn btn-warning">
                                    <i class="fa fa-lightbulb-o"></i> Conocimientos
                                </a>
                            </td>
                            <td>
                                <a href="/Programadores/edit/@programador.ID" title="Editar" type="button" class="btn btn-light">
                                <i class="fa fa-edit"></i> Editar
                                </a>
                                <a href="/Programadores/delete/@programador.ID" title="Borrar" type="button" class="btn btn-light">
                                <i class="fa fa-remove"></i> Borrar
                                </a>
                            </td>
                        </tr>

                            }
                            <tr>
                                <td colspan="5">
                                    <a href="/Programadores/new" title="Nuevo" type="button" class="btn btn-success">
                                        <i class="fa fa-plus"></i> Nuevo
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination justify-content-center">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
          <!-- /.box -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
      </div>

@section Scripts{
    <script>
    </script>
}
